#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;

  height: 46px;
  /* margin-top: 20px; */

  position: sticky;
  top: 0;
}

body {
  margin-top: 0;
  padding-bottom: 100px;
}
